/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

body {
	font-family: Verdana, sans-serif;
	margin: auto;
	padding: 20px;
	max-width: 65ch;
	text-align: left;
	background-color: #0f2350;
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.5;
	color: gray;
}

body::-webkit-scrollbar {
    display: none;
}

h1, h2, h3, h4, h5, h6, strong, b {
	color: #c6ac4b;
}

a {
	color: #a22041;
}

nav a {
	margin-right: 10px;
}

textarea {
	width: 100%;
	font-size: 16px;
}

input {
	font-size: 16px;
}

content {
	line-height: 1.6;
}

table {
	width: 100%;
}

img {
	max-width: 100%;
	height: auto;
}

code {
	padding: 2px 5px;
	background-color: #f2f2f2;
}

pre {
	padding: 1rem;
}

pre > code {
	all: unset;
}

blockquote {
	border: 1px solid #999;
	color: #222;
	padding: 2px 0px 2px 20px;
	margin: 0px;
	font-style: italic;
}

.text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
}

.instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
}

.instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
}

.instructions strong {
    color: rgb(var(--accent));
}

.link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
}
