---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="二日ゆにについてのざっくりとした自己紹介"
	pubDate={new Date('April 08 2023')}
	updatedDate={new Date('April 13 2023')}
	heroImage="/profile-icon.png"
>
    <h2>プロフィール</h2>
    <p>
        2000年5月13日生まれ。
        神奈川県出身。
    </p>

    <h2>概要</h2>
    <p>
        アニメ・漫画が好きな情報科学科大学院生。
        エヴァンゲリオンを主とした庵野秀明監督作品・宇宙戦艦ヤマト・スペース☆ダンディなど幅広く多くの作品とその二次創作群をこよなく愛する。
        エヴァ（特にLAS）の二次創作及びオリジナルSF小説を書いている。
    </p>

    <!-- <h2>自己紹介</h2> -->

    <h2>技術関連</h2>

    <p>
        就職活動へ向けた自己整理として、自分が現在使用することのできる種々の技術を列挙しておく。
        なお、このリストは一定以上その機能を網羅した技術・言語を挙げているだけであり、それぞれに対して精通しているとは言い切れない。
    </p>

    <h3>使用したことのある言語</h3>
    <ul>
        <li>C99</li>
        <li>Lua</li>
        <li>Java</li>
        <li>JavaScript</li>
        <li>TypeScript</li>
        <li>Ruby</li>
        <li>Rust(?)</li>
        <li>LaTeX</li>
        <li>TeX</li>
    </ul>

    <h3>使用したことのある技術</h3>
    <ul>
        <li>GNU Make</li>
        <li>Git</li>
        <li>GitHub</li>
        <li>GitLab</li>
        <li>Node.js</li>
        <li>Deno</li>
        <li>Astro</li>
    </ul>

    <h3>エディタ</h3>
    <ul>
        <li>Neovim</li>
        <li>Visual Studio Code</li>
        <li>Helix</li>
    </ul>
</Layout>
