---
const today = new Date();
---

<footer>
	<a href="/logs">&copy; {today.getFullYear()} Yuni Hutsuka. All rights reserved.</a>
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
        color: #a22041;
	}
    a {
        text-decoration:none;
    }
</style>
